@keyframes bodylsd {
    0% {
        color: rgb(255,0,0);
        transform: translate(0%, 0%);
        background-color: hsl(239, 100%, 45%);
    transform: rotate3d(1, 1, -10, 1deg);    }
    50% {
        color: rgb(0,255,0);
        transform: translate(0%, 0%);

    }
    75% {
        color: rgb(0,0,255);
        transform: rotate3d(1, 2, 1, 1deg);
    }
    100% {
        color: rgb(255,0,0);
        transform: translate(0%, 0%);
        background-color: rgb(0,255,0);
    }
}
@keyframes verticallsd {
    0% {
        color: rgb(255,0,0);
    }
    50% {
        color: rgb(0,255,0);
        transform: scale(1,1.9);

    }
    100% {
        color: rgb(255,0,0);
    }
}
@keyframes inputlsd {
    0% {
        background-color: rgb(255,0,0);
        transform: scale(1, 1);
    }
    50% {
        background-color: rgb(0,255,0);
        transform: scale(1.5, 1);

    }
    100% {
        background-color: rgb(255,0,0);
        transform: scale(1, 1);

    }
}
@keyframes inputlsd2 {
    0% {
        background-color: rgb(255,0,0);
        transform: scale(1, 1);
    }
    50% {
        background-color: rgb(0,255,0);
        transform: scale(1.5, 2);

    }
    100% {
        background-color: rgb(255,0,0);
        transform: scale(1, 1);

    }
}

html,
body, li, article{
  animation: forwards bodylsd 700ms infinite cubic-bezier(1, 0, 0, 1);
  
}

button, a, h1, h2, h3, h4, h5, h6, dd, td, code {
    animation: forwards verticallsd 200ms infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

textarea, input, select, samp {
    animation: forwards inputlsd 1s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}
button:active {
    transition-duration: 100ms;
    font-size: 50px;
}

pre, img, svg, progress {
    animation: forwards inputlsd2 400ms infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}